---
import Layout from '@/layouts/Layout.astro';

import Hero from '@/sections/Hero.astro';
import Info from '@/sections/Info.astro';
import Footer from '@/sections/Footer.astro';
import PrincipalDate from '@/sections/PrincipalDate.astro';
---

<Layout title="La Velada IV">
	<Hero />
	<main>
		<PrincipalDate />
		<Info />	
</main>
<Footer />
</Layout>