---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center">
  <span class="text-xs md:text-xl transition-all uppercase text-secondary bg-primary px-5 py-0.5 mb-6 font-medium">Presentación de la</span>
  <HeroLogo class="text-primary max-w-full h-auto"/>
</section>