---
import TwitchIcon from "@/icons/TwitchIcon.astro";
---

<section class="w-full flex flex-col font-medium text-primary gap-y-10 my-32 md:px-40 px-0">
  <div class="flex justify-center items-center">
    <a
      href="https://titch.tv/ibai"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:text-purple-800 transition hover:scale-125 inline-flex">
      <TwitchIcon screen="40"/>
    </a>
  </div>

  <div class="max-w-full flex flex-col md:flex-row uppercase font-semibold text-center md:gap-10 gap-0">
    
    <article
      class="md:order-1 order-2 flex justify-center items-center text-xl py-10 px-auto md:border-y-2 border-b-2 border-primary">
      <h5 class="w-56">Presentación, Pesaje, Entrevista y Cara a Cara</h5>
    </article>

    <article
      class="md:order-2 order-1 col-span-2 flex justify-center items-center md:tex-2xl text-3xl py-10 px-auto sm:border-y-2 border-b-2 border-primary">
      <h4>
        <a
          href="https://titch.tv/ibai"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-purple-700/80 transition hover:scale-110 inline-flex">
          Síguelo en directo Twitch.tv/ibai
        </a>
      </h4>
    </article>

    <article
      class="max-w-full order-3 flex justify-center items-center text-xl py-10 md:px-auto px-14 md:border-y-2 border-b-2 border-primary">
      <h5 class="md:w-90 w-56">con la presencia de los boxeadores y boxeadoras</h5>
    </article>

  </div>
</section>
